<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->  
  <servlet>
  	<servlet-name>startup_servlet</servlet-name>
	<servlet-class>de.kuei.metafora.gwt.smack.server.StartupServlet</servlet-class>
	<load-on-startup>3</load-on-startup>
  </servlet>
  
   <servlet>
  	<servlet-name>comet</servlet-name>
	<servlet-class>de.kuei.metafora.gwt.smack.server.CometImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>comet</servlet-name>
    <url-pattern>/development/comet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Workbench.html</welcome-file>
  </welcome-file-list>

</web-app>
