git addMonitorInterventionMetafora/logs/
MonitorInterventionMetafora/gwt-unitCache/
logs/
MonitorInterventionMetafora/war/useractionlogs/
MonitorInterventionMetafora/.gwt/
MonitorInterventionMetafora/war/upload/
MonitorInterventionMetafora/war/realData/