git addMonitorInterventionMetafora/logs/
MonitorInterventionMetafora/gwt-unitCache/
logs/
MonitorInterventionMetafora/war/useractionlogs/
MonitorInterventionMetafora/.gwt/
MonitorInterventionMetafora/war/upload/
MonitorInterventionMetafora/war/realData/
MonitorInterventionMetafora/war/WEB-INF/deploy/de.uds.MonitorInterventionMetafora.MonitorInterventionMetafora.JUnit/
MonitorInterventionMetafora/war/de.uds.MonitorInterventionMetafora.MonitorInterventionMetafora.JUnit/