/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 1px 0px 1px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}



.filterGridPanel{
background-color: yellow; }

.dialogVPanel {
  margin: 1px;
}

.serverResponseLabelError {
  color: red;
}


.table-center
{
    margin-left            :    auto;
    margin-right           :    auto;
}
.demo-popup
{
    background-color       :    #ffc;
    border                 :    3px solid #009;
}
.demo-Composite
{
    margin                 :    0 auto;
}
.demo-popup-header
{
    background-color       :    #ff0;
    font-size              :    90%;
    font-weight            :    bold;
    border-bottom          :    3px solid #009;
    padding                :    5px;
    text-align             :    center;
}
.demo-popup-message
{
    font-size              :    80%;
    padding                :    15px;
}
.demo-popup-footer
{
    padding                :    5px;
    text-align             :    center;
    width                  :    100%;
}


/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
