/* suggested message button */
.gwt-Button-highlight {
	color: green;
	font-weight: bold;
}

.gwt-Button-delete {
	background: white url(../images/delete.gif) center center;
	vertical-align: middle;
	height: 12px;
	width: 12px;
	cursor: pointer;
}

.gwt-HTML-selected-highlight {
	color: red;
}

.gwt-HTML-unselected-highlight {
	color: blue;
}