h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#menu {
    line-height:30px;
    background-color:#eeeeee;
    height:100%;
    width:300px;
    float:left;
    padding:5px; 
}
#section {
    text-align: center;
    width:900px;
    float:left;
    padding:10px; 
}
#text {
    text-align: center;
    width:900px;
    float:left;
    padding:10px; 
}

#title {
    text-align: center;
    width:900px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button {
    margin: 4px 2px;
    padding: 10px 5px;
    cursor: pointer;
    border:none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    background-color: #e8e6e6; 
    
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: #ddd;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}