<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
    <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>de.uds.MonitorInterventionMetafora.server.InitServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
     </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
 <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>de.uds.MonitorInterventionMetafora.server.MainServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/MonitorInterventionMetafora/greet</url-pattern>
  </servlet-mapping>

<servlet>
                <servlet-name>gwtTableToExcelServlet</servlet-name>
                <servlet-class>com.googlecode.gwtTableToExcel.server.TableToExcelServlet</servlet-class>
                 <init-param>
                <param-name>encoding</param-name>
                <param-value>UTF-8</param-value>
        </init-param>
                
        </servlet>

        <servlet-mapping>
                <servlet-name>gwtTableToExcelServlet</servlet-name>
                <url-pattern>/MonitorInterventionMetafora/excel</url-pattern>
        </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Visualizer.html</welcome-file>
  </welcome-file-list>

</web-app>
